/* === BACKGROUND & GERAL === */


.stApp {
    background-color: transparent;
    padding: 2rem;
}


/* === INPUTS E BOTÕES === */
input, .stTextInput input {
 /* leve transparência clara */
    border-radius: 12px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 0 0 8px rgba(29, 185, 84, 0.3);
}

input:focus {
    outline: none;
}

button, .stButton button {
    background-color: #1DB954;
    border: none;
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 10px #1DB954;
    transition: all 0.3s ease;
}

button:hover, .stButton button:hover {
    background-color: #1ed760;
    box-shadow: 0 0 15px #1ed760;
    transform: scale(1.03);
}

/* === EXPANDERS === */
.st-expander {
    background-color: rgba(255, 255, 255, 0.05); /* leve fundo branco transparente */
    border: 1px solid #333;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}
